# Basic Arithmetic Operation

In [ ]:
# Few Examples of operators like +,-,*,**,%,/ etc

In [1]:
a=2
b=3
a+b

5

In [2]:
a*b

6

In [3]:
a**b  # a raised to the power b

8

In [4]:
b%a  # % for remainder division that return remainder value

1

In [5]:
a%b

2

# Comment in Python

In [7]:
# There are two types of comment in python 
# It is started with # to give comment in Python

# Strings in Python

Strings can be defined in Python using single or double quotes both ways

In [8]:
a='Amrit Manash'  
print(a)

Amrit Manash

In [10]:
a="Amrit Manash is My Name"
print(a)

Amrit Manash is My Name

Below is an Example of String Formatting

In [11]:
name="Amrit Manash"
age=24

print("My name is {} and My Age is {} ".format(name,age))

My name is Amrit Manash and My Age is 24

Below is an Example for String Indexing

In [12]:
a="Amrit Manash is a Good Boy"

print(a[0])  #Here we are accessing 0th index of string

A

In [13]:
print(a[0:5]) # Here we are accessing 0th to 4th index of string by excluding the 5th index because last index is excluded

Amrit

In [14]:
print(a[1:5])

mrit

In [15]:
print(a[0:12:2]) #Here we are accessing index from 0 to 11 but with a step size of one

ArtMns

# List In Python

List can hold differnt dataTypes like string ,numbers ,floating number ,boolean etc 

List is also mutable in nature that means its object can be changed

In [16]:
my_list=['Python','Numpy','Pandas','Matplotlib','Seaborn','Ml Algo.','Power BI','MS-Excel','Sql']
my_list

['Python',
 'Numpy',
 'Pandas',
 'Matplotlib',
 'Seaborn',
 'Ml Algo.',
 'Power BI',
 'MS-Excel',
 'Sql']

In [17]:
# we can access the element in list by using index

my_list[0:3]

['Python', 'Numpy', 'Pandas']

In [18]:
# we can replace a pervious value with a new one with index

my_list[5]='R programming'
my_list

['Python',
 'Numpy',
 'Pandas',
 'Matplotlib',
 'Seaborn',
 'R programming',
 'Power BI',
 'MS-Excel',
 'Sql']

In [19]:
# we can also do nesting of list that means one list in other list

my_numbers=[1,2,[3,4,5]]
my_numbers

[1, 2, [3, 4, 5]]

In [20]:
my_numbers[2][2] #we can also access the nested list by using multiple brackets

5

In [21]:
# Some Important functions in List

#.append() to add element at the last of a list
my_list.append('Machine Learning Algo') 
my_list

['Python',
 'Numpy',
 'Pandas',
 'Matplotlib',
 'Seaborn',
 'R programming',
 'Power BI',
 'MS-Excel',
 'Sql',
 'Machine Learning Algo']

In [22]:
#.pop() to delete last element from the list 
my_list.pop()
my_list

['Python',
 'Numpy',
 'Pandas',
 'Matplotlib',
 'Seaborn',
 'R programming',
 'Power BI',
 'MS-Excel',
 'Sql']

# Dictionaries in Python

Dictionaries stores data in key value format 

Dictionary do not maintain the order

In [31]:
 my_dic={'Name':'Amrit',
       'Age':24,
       'Job':'SE',
       'Married':'No',
       'Hobies':['Cricket','Music','Watching Movies','Reading Books','Learning new skills']}
my_dic

{'Name': 'Amrit',
 'Age': 24,
 'Job': 'SE',
 'Married': 'No',
 'Hobies': ['Cricket',
  'Music',
  'Watching Movies',
  'Reading Books',
  'Learning new skills']}

In [24]:
#we can access the values using keys as the index for the dictionary

my_dic['Hobies']

['Cricket', 'Music', 'Watching Movies', 'Reading Books', 'Learning new skills']

In [30]:
#we can also do nesting of dictionaries and can access by using keys as passing as index

my_key={'key1':{'Key2':[1,2,3]}}

my_key['key1']['Key2'][1]

2

# Tupples in Python

Tupple objects are immutable that means one assigned value cannot be changed

In [32]:
my_tup=(1,2,3,4,5,6)

my_tup[2]

3

In [33]:
# if we want to replace one value with other using indexing it is not possible with tupple
# Due to this tupple objects are immutable
my_tup[2]=9
my_tup

TypeError: 'tuple' object does not support item assignment

# Sets in Python

It can store only unique data that means it cannot hold duplicate data in it

In [34]:
roll_numbers={12,25,56,89,90}
roll_numbers

{12, 25, 56, 89, 90}

In [35]:
#Here you can see in output that it has just printed the unique values from sets

updated_roll_numbers={12,24,35,12} 
updated_roll_numbers

{12, 24, 35}

# Conditional Statement in Python

In [41]:
#Here below we are doing program to find if a number is odd number or even number

a=77

if a%2==0:
    print("The Number is even Number")
else :
    print("The number is odd Number")

The number is odd Number

In [48]:
#Here below we are going to print the grades of a student on the basic of marks he got 

marks=56

if(marks>=90 and marks<=100):
    print("Got A Grade")
elif(marks>=80 and marks<90):
    print("Got B Grade")
elif(marks>=70 and marks<80):
    print("Got C Grade")
elif(marks>=60 and marks<70):
    print("Got D Grade")
else:
    print("You are failed, please work Hard to pass Next Time")

You are failed, please work Hard to pass Next Time

# Looping Statement in Python

In [49]:
# Here we are printing all the even Numbers from 1 to 100 using for() loop and using range() function
# range() is used to create numbers in between the range that is mentioned in it 
for i in range(1,101):
    if i%2==0:
        print(i)
    else:
        continue

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [51]:
#Here below is an example of while loop to print numbers from 1 to 20
#Please keep in mind that in python i++ is not valid it will give you error rather use i=i+1

i=1
while(i<21):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Functions in Python

Example 1) To create a function that prints whether length of string is even or odd that is passed in the function

In [55]:
stmt="Amrit Manash"

#Here we are providing defination for our function
def str_eval(stmt):
    count=len(stmt)
    if count%2==0:
        print("The length of string is even")
    else:
        print("The length of string is odd")

str_eval(stmt) #Here we are calling our function

The length of string is odd

Example 2) Here we are creating a function that is returning a result after doing the operation inside

In [62]:
input1=2
input2=3


def cal_input(input1,input2,op):
    if op==1:
        return input1+input2
    elif op==2:
        return input1*input2
    else:
        return 0

    
cal_input(input1,input2,2)

6

# map() function in Python

map() function is usefull when we want to do braodcasting of certain function to a list of elements that means applying function
to multiple values

In [64]:
# Suppose here we have a list of element in a list and we want a list in which all elements are twice the current value
# So Here we can use map() 

my_list=[1,2,3,4,5,6,7,8,9]

def do_twice(input_list):
    return input_list*2

#Here in the first arg we have passed the function and in the second argument we have passed the list effected 
my_new_list=list(map(do_twice,my_list))  

my_new_list

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [65]:
#In map() function we can also pass a lamda function instead of passing a complete function 
#Lambda() function is also called a anonymous function

my_new_list=list(map(lambda var:var*4,my_list))
my_new_list

[4, 8, 12, 16, 20, 24, 28, 32, 36]

# filter() function in Python:

filter() function is very similar to map() function but the basic differnce is that in filter function before applying broadcasting to all element we create a filter based on certain condtion

In [70]:
my_list=[1,2,3,4,5,6,7,8,9,10,12,13,14,15,16]

my_even_list=list(filter(lambda var:var%2==0,my_list))
my_even_list

[2, 4, 6, 8, 10, 12, 14, 16]

# split() function of Strings

In [72]:
#split() function basically creates a list of string by dividing with the argument that is passed into split()

email="amritmanash@gmail.com"

my_list=email.split("@")

my_list

['amritmanash', 'gmail.com']

# in operator of Python:

In [76]:
my_list=["Amrit","Manash","Aman","Nasim","Ayush","Akash","Anand","Manish","Satyam"]

name="Aman"
if name in my_list:
    print("Friend")
else:
    print("Not Friend")

Friend